.experiences-section .section-title {
    margin: 0;
    padding: 32px 0;
}
    
.experiences-section .experiences-container {
    display: flex;
    flex-direction: row;
    margin: 0 24px;
}

.experiences-section .experiences-container .odd-experiences-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.experiences-section .experiences-container .even-experiences-container {
    display: none;
}

.experiences-section .experiences-container .odd-experiences-container .experience-item, .experiences-section  .experiences-container .even-experiences-container .experience-item {
    width: calc(100% - 16px);
    padding: 8px;
    max-width: 400px;
}

.experiences-section .experiences-container .odd-experiences-container .experience-item .dot {
    display: none;
}

.experiences-section .experiences-container .odd-experiences-container .experience-item .item-title, .experiences-section .experiences-container .even-experiences-container .experience-item .item-title {
    font-size: 24px;
    margin: 0;
}

.experiences-section .experiences-container .odd-experiences-container .experience-item .item-date, .experiences-section .experiences-container .even-experiences-container .experience-item .item-date {
    font-size: 18px;
    margin: 8px 0;
}

.experiences-section .experiences-container .odd-experiences-container .experience-item .item-text, .experiences-section .experiences-container .even-experiences-container .experience-item .item-text {
    margin: 0 0 6px 0;
    line-height: 1.75rem;
}

.experiences-section .experiences-container .odd-experiences-container .experience-item .item-text a, .experiences-section .experiences-container .even-experiences-container .experience-item .item-text a {
    color: #222222;
}

.experiences-section .experiences-container .odd-experiences-container .experience-item .item-text .item-link {
    color: #222222;
}

@media only screen and (min-width: 768px) {
    .experiences-section .experiences-container {
        margin: 0 32px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item.hide {
        display: none;
    }

    .experiences-section .experiences-container .odd-experiences-container, .experiences-section .experiences-container .even-experiences-container {
        width: 50%;
    }

    .experiences-section .experiences-container .odd-experiences-container  .experience-item, .experiences-section .experiences-container .even-experiences-container .experience-item {
        height: 300px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item.hide, .experiences-section .experiences-container .even-experiences-container .experience-item.hide {
        height: 120px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item .dot, .experiences-section .experiences-container .even-experiences-container .experience-item .dot {
        display: block;
        width: 24px;
        height: 24px;
        min-width: 24px;
        background: #222222;
        border-radius: 50%;
        position: relative;
    }

    .experiences-section .experiences-container .odd-experiences-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 150px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item, .experiences-section .experiences-container .even-experiences-container .experience-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item .content, .experiences-section .experiences-container .even-experiences-container .experience-item .content {
        flex: 1;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item .dot {
        left: 22px;
    }

    .experiences-section .experiences-container .even-experiences-container {
        display: flex;
        border-left: solid 2px #222222;
        align-self: flex-end;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 150px;
    }

    .experiences-section .experiences-container .even-experiences-container .experience-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .experiences-section .experiences-container .even-experiences-container .experience-item .dot {
        left: -20px;
    }

    .experiences-section .experiences-container .even-experiences-container .experience-item .content {
        padding-left: 32px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item .content {
        padding-right: 32px;
    }
}


@media only screen and (min-width: 1024px) {
    .experiences-section .experiences-container {
        margin: 0 64px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item, .experiences-section .experiences-container .even-experiences-container .experience-item {
        width: 432px;
        max-width: 432px;
    }
}

@media only screen and (min-width: 1440px) {
    .experiences-section {
        margin-bottom: 64px;
    }

    .experiences-section .experiences-container {
        margin: 0 96px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item, .experiences-section .experiences-container .even-experiences-container .experience-item {
        width: 650px;
        max-width: 650px;
    }

    .experiences-section .experiences-container .even-experiences-container .experience-item {
        padding-right: 0;
    }


    .experiences-section .experiences-container .even-experiences-container .experience-item .content {
        padding-left: 72px;
    }

    .experiences-section .experiences-container .odd-experiences-container .experience-item .content {
        padding-right: 72px;
    }
}