* {
    font-family: 'Raleway', sans-serif;
}

a:hover {
    text-decoration: none;
}

body {
    margin: 0;
}

h1, h2, h3 {
    color: #222222;
}

p, li {
    color: #3a3a3a;
}

main {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.intro-container .intro-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.intro-container .intro-box {
    max-width: 550px;
}

.intro-container .intro-box {
    padding: 0 24px;
}

.intro-container .intro-box .intro-text {
    text-align: justify;
}

.intro-container .intro-box .name {
    text-align: center;
    margin: 4px;
    font-size: 28px;
}

.intro-text {
    line-height: 1.75rem;
}

.intro-picture {
    margin-top: 60px;
    max-width: 150px;
    border-radius: 50%;
}

.intro-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button {
    border: 2px black solid;
    border-radius: 14px;
    box-shadow: inset 0 0 0 0 black;
    color: black;
    transition: ease-out 0.25s;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    max-width: 120px;
    margin-top: 12px;
    margin-right: 12px;
}

.social-button:last-child {
    margin-right: 0;
}

.social-button:hover {    
    box-shadow: inset 120px 0 0 0 black;
    color: white;
}

.social-button.twitter {
    box-shadow: inset 0 0 0 0 rgb(29, 155, 240);
}

.social-button.twitter:hover {
    box-shadow: inset 120px 0 0 0 rgb(29, 155, 240);
}

.social-button.github {
    box-shadow: inset 0 0 0 0 black;
}

.social-button.github:hover {
    box-shadow: inset 120px 0 0 0 black;
}

.social-button.gitlab {
    box-shadow: inset 0 0 0 0 #e24329;
}

.social-button.gitlab:hover {
    box-shadow: inset 120px 0 0 0 #e24329;
}

.social-button.youtube {
    box-shadow: inset 0 0 0 0 #FF0000;
}

.social-button.youtube:hover {
    box-shadow: inset 120px 0 0 0 #FF0000;
}

.social-button.linkedin {
    box-shadow: inset 0 0 0 0 rgb(10, 102, 194);
}

.social-button.linkedin:hover {
    box-shadow: inset 120px 0 0 0 rgb(10, 102, 194);
}

.social-button.instagram {
    box-shadow: inset 0 0 0 0 #7833e6;
}

.social-button.instagram:hover {
    box-shadow: inset 120px 0 0 0 #7833e6;
}

.socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
}

.intro-picture {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.intro-interests li {
    margin: 10px 0;
}

.scroll-down-button {
    background: none;
    border: none;
    margin-top: 8px;
}

.scroll-down-button:hover {
    cursor: pointer;
}

.about-container .content-container .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container .content-container .button-container .button {
    border: 2px black solid;
    border-radius: 14px;
    box-shadow: inset 0 0 0 0 black;
    color: black;
    transition: ease-out 0.25s;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    max-width: 120px;
}

.about-container .content-container .button-container .button:hover {    
    box-shadow: inset 120px 0 0 0 black;
    color: white;
}

.about-container .content-container {
    margin: 16px 24px;
    text-align: left;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.about-container {
    padding-bottom: 32px;
}

.about-container .content-container a {
    text-decoration: underline;
    color: black;
}

.section-heading {
    text-align: center;
    text-transform: uppercase;
}

.section-text {
    line-height: 1.75em;
}

.section-text a:hover {
    text-decoration: none;
}

.footer {
    background-color: #222222;
    text-align: center;
    color: white;
    padding: 32px;
}

.footer h6 {
    font-size: 18px;
}

.footer a {
    color: white;
}

@media only screen and (min-width: 768px){
    .socials-container {
        margin: 0 16px 16px 16px;
    }

    .social-button {
        margin-top: 16px;
        margin-right: 16px;
    }
}

@media only screen and (min-height: 730px) {
    .intro-container .scroll-down-container {
        margin-top: 64px;
    }
}

@media only screen and (min-width: 1024px) {
    .intro-container .intro-wrapper {
        display: flex;
        flex-direction: row;
    }

    .intro-picture-container {
        width: 50%;
        padding-top: 64px;
        padding-right: 48px;
    }

    .intro-picture {
        max-width: 350px;
        border-radius: 50%;
    }

    .intro-container .intro-box {
        max-width: 760px;
        padding-left: 64px;
    }

    .intro-container .intro-box .name {
        text-align: left;
        font-size: 48px;
    }

    .intro-container .intro-box .intro-text, .intro-container .intro-box .intro-interests {
        text-align: left;
        font-size: 18px;
    }

    .intro-container .scroll-down-container {
        margin-top: 64px;
    }

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about-container .content-container {
        max-width: 700px;
        text-align: left;
        text-justify: inter-word;
        margin: 0;
    }

    .socials-container {
        margin: 0;
    }

    .section-heading {
        font-size: 36px;
        text-align: center;
    }
    
}

@media only screen and (min-width: 1440px) {
    .intro-picture-container {
        width: 50%;
        padding-top: 64px;
        padding-right: 128px;
    }

    .intro-container .intro-box {
        padding-left: 128px;
    }

    .intro-container .scroll-down-container {
        margin-top: 64px;
    }

    .intro-picture {
        max-width: 450px;
    }
}